body{
    background-color: #5e5c5c;    font-family: 'Source Sans Pro', sans-serif;
}

#container{
    position: absolute;
    height: 200px;
    width: 70%;
    margin: 100px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 6px;
}

#fotoDePerfil{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border-radius: 100%;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

#dados{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    align-self: center;
    gap: 10%;
    
}