@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
    height: 100vh;
    background: linear-gradient(to bottom right, #e7e6e6 4%, #c5c5c5 37%, #999999 100%);  
    font-family: 'Source Sans Pro', sans-serif;
}

#container{
    position: absolute;
    height: 200px;
    width: 70%;
    margin: 100px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    border-radius: 6px;
}

#fotoDePerfil{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border-radius: 100%;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

#dados{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    align-self: center;
    gap: 10%;
    
}

#edit{
    position: relative;
    border: none;
    background: none;
    border-radius: 6px;
    padding: 3px 5px 3px 5px;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}