
body{
    background-color: #e7e6e6;
    font-family: 'Source Sans Pro', sans-serif;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

#cadastro{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

#confirm{
    margin-top: 10px;
    width: 250px;
    padding: 8px 0px 8px 0px;
    border-radius: 6px;
    font-size: 1em;
    align-self: center;
    background-color: #50aaff;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

#confirm:hover{
    background-color: #499be7;
    transform: scale(1.1);
}
/* 
label{
    font-size: 1.2em;
} */

input{
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 9px 8px 7px;
    margin-bottom: 10px;
}

#login{
    width: 340px;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 5px;
    background-color: white;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
    color: blue;
}

a:visited{
    color: blue;
}

h2{
    text-align: center;
    color: #2D74CC;
    font-size: 1.9em;
}