
    <header>
        <div id="navbar">

        </div>
    </header>
    <main>
        <div id="container">
            <div id="fotoDePerfil">
                {{!-- <img src={{fotoPerfil}}> --}}
            </div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="foto">+</input>
                    <button type="submit"></button>
            </form>
            <div id="dados">
                <p id="username" name="username">Username: {{usuario}}</p>
                <p id="email" name="email">Email: {{email}}</p>
            </div>
        </div>
    </main>