
     <header>
        <div id="navbar">
            <div id="logo">
                <img src="" alt="" srcset="">
            </div>
            <div id="pages">
                <a href="">Home</a>
                <a href=""></a>
            </div>
            <div id="inout">

            </div>
        </div>
    </header>
    <main>
        <div id="container">
            <div id="fotoDePerfil">
                <img src={{fotoPerfil}}>
            </div>
                 <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="foto">+</input>
                    <button type="submit"></button>
            </form>
            <div id="dados">
                <p id="username" name="username">Username: {{usuario}}</p>
                <p id="email" name="email">Email: {{email}}</p>
            </div>
            <form action="/userEdit" method="get" id="editar">
                <button id="edit"><i class='fas fa-edit'></i></button>
            </form>
        </div>
    </main>
